//店舗詳細ページの店舗情報部分
.p-info-area{
    display: flex;
    justify-content: space-between;
    border: 1px solid $gray;
    width: 100%;
    height: auto;
    padding-top: $padding-ll;
    padding-bottom: $padding-ll;
    padding-left: 160px;
    padding-right: 160px;
    box-sizing: border-box;
}
