//topページの検索エリア
.p-top-search-area{
    display: flex;
    //margin-top: 120px;
    justify-content: space-between;
    width: 50%;
    margin: 120px auto;

    @include sp(){
        margin: 40px auto;
    }
}
