@import url(https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap);/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #FFFFFB;
  color: #003300;
  font-size: 16px;
  font-family: "M PLUS 1p", sans-serif;
  line-height: 24px;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

.l-a {
  font-size: 20px;
  color: #003300;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .l-a {
    font-size: 16px;
  }
}

.l-a:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.75;
}

.l-footer {
  height: 80px;
  width: 100%;
  background: #AAB300;
  margin-top: auto;
}

@media screen and (max-width: 480px) {
  .l-footer {
    width: 100%;
    height: auto;
    margin-top: auto;
  }
}

.l-footer-a {
  font-size: 20px;
  color: #003300;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .l-footer-a {
    font-size: 16px;
  }
}

.l-footer-a:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.75;
}

.l-footer-li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

@media screen and (max-width: 480px) {
  .l-footer-li {
    margin-bottom: 24px;
    justify-content: flex-start;
    align-items: center;
  }
}

.l-footer-logo {
  font-size: 20px;
  color: #003300;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .l-footer-logo {
    font-size: 16px;
    margin-bottom: 24px;
    margin-left: 0;
    justify-content: flex-start;
    width: 100%;
    height: auto;
  }
}

.l-footer-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media screen and (max-width: 480px) {
  .l-footer-ul {
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
  }
}

.l-footer-wrap {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .l-footer-wrap {
    width: 100%;
    height: 75%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px;
    box-sizing: border-box;
  }
}

.l-header {
  height: 80px;
  width: 100%;
  background: #AAB300;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .l-header {
    width: 100%;
    height: 40px;
  }
}

.l-li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

@media screen and (max-width: 480px) {
  .l-li {
    margin-right: 24px;
  }
}

.l-logo {
  font-size: 20px;
  color: #003300;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .l-logo {
    font-size: 16px;
    margin-left: 24px;
  }
}

.l-text {
  width: 100%;
  height: 25%;
  font-size: 8px;
  text-align: center;
}

.l-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.l-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.c-a {
  font-size: 16px;
  font-family: "M PLUS 1p", sans-serif;
  color: #003300;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .c-a {
    font-size: 12px;
  }
}

.c-a:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.75;
}

.c-alert-success {
  margin-top: 8px;
  color: #3490dc;
}

.c-btn {
  display: block;
  width: 100%;
  height: 60px;
  background: #AAB300;
  border: none;
  font-size: 16px;
  font-family: "M PLUS 1p", sans-serif;
}

@media screen and (max-width: 480px) {
  .c-btn {
    height: 48px;
    font-size: 12px;
  }
}

.c-btn:hover {
  cursor: pointer;
  opacity: 0.75;
}

.c-btn-second {
  display: block;
  width: 100%;
  height: 60px;
  background: #979797;
  border: none;
  font-size: 16px;
  font-family: "M PLUS 1p", sans-serif;
}

@media screen and (max-width: 480px) {
  .c-btn-second {
    height: 48px;
    font-size: 12px;
  }
}

.c-btn-second:hover {
  cursor: pointer;
  opacity: 0.75;
}

.c-file {
  margin-bottom: 32px;
}

.c-info-img {
  width: 30%;
  height: auto;
  background: #979797;
  display: block;
  margin-right: 40px;
}

@media screen and (max-width: 480px) {
  .c-info-img {
    width: 100%;
    height: 240px;
    margin-bottom: 24px;
  }
}

.c-info-title {
  width: 100%;
  height: 60px;
  background: #AAB300;
  padding-left: 16px;
  line-height: 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .c-info-title {
    height: 48px;
    line-height: 48px;
  }
}

.c-info-wrapper {
  width: 70%;
  height: auto;
}

@media screen and (max-width: 480px) {
  .c-info-wrapper {
    width: 100%;
    height: auto;
  }
}

.c-input {
  width: 100%;
  height: 60px;
  font-size: 16px;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

@media screen and (max-width: 480px) {
  .c-input {
    height: 48px;
    font-size: 12px;
    margin-bottom: 24px;
  }
}

.c-invalid-feedback {
  display: inline-block;
  color: #e3342f;
  margin-top: 8px;
  display: block;
}

.c-option {
  width: 100%;
}

.c-search-option {
  width: 100%;
}

.c-search-select {
  width: 40%;
  height: 24px;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  .c-search-select {
    width: 100%;
    font-size: 12px;
  }
}

.c-select {
  width: 20%;
  height: 48px;
  font-size: 16px;
  margin-bottom: 32px;
  padding: 8px;
}

@media screen and (max-width: 480px) {
  .c-select {
    width: 40%;
    font-size: 12px;
    height: 48px;
  }
}

.c-table {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.c-td {
  width: 70%;
  height: 100%;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  padding: 16px;
}

.c-text {
  font-size: 16px;
  color: #003300;
  margin-bottom: 16px;
}

@media screen and (max-width: 480px) {
  .c-text {
    font-size: 8px;
    margin-bottom: 8px;
  }
}

.c-text-display {
  width: 100%;
  height: auto;
  border: 1px solid #979797;
  padding: 16px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.c-textarea {
  width: 100%;
  height: 600px;
  font-size: 16px;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 32px;
}

.c-th {
  width: 30%;
  height: 100%;
  font-family: "M PLUS 1p", sans-serif;
  color: #003300;
  background: #AAB300;
  line-height: 60px;
  border: 1px solid #979797;
  box-sizing: border-box;
}

.c-title {
  width: 100%;
  height: 60px;
  background: #AAB300;
  padding-left: 16px;
  line-height: 60px;
  box-sizing: border-box;
  margin-bottom: 32px;
}

@media screen and (max-width: 480px) {
  .c-title {
    height: 48px;
    margin-bottom: 24px;
    line-height: 48px;
  }
}

.c-tr {
  width: 100%;
  height: 30px;
  border: 1px solid #979797;
  box-sizing: border-box;
}

.p-count-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 28px;
}

.p-form {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.p-info-area {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #979797;
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .p-info-area {
    padding: 24px;
    flex-direction: column;
  }
}

.paginationWrap {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  margin-bottom: 40px;
}

.paginationWrap ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.paginationWrap ul.pagination li {
  display: inline;
  margin-right: 4px;
}

.paginationWrap ul.pagination li a {
  color: #2f3859;
  padding: 8px 14px;
  text-decoration: none;
}

.paginationWrap ul.pagination li a.active {
  background-color: #4b90f6;
  color: white;
  border-radius: 40px;
  width: 38px;
  height: 38px;
}

.paginationWrap ul.pagination li a:hover:not(.active) {
  background-color: #e1e7f0;
  border-radius: 40px;
}

.p-search-area {
  border: 1px solid #979797;
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 160px;
  padding-right: 160px;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .p-search-area {
    padding: 24px;
  }
}

.p-site-width {
  width: 980px;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .p-site-width {
    width: 80%;
  }
}

.p-wrapper {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-btn {
  display: block;
  width: 100%;
  height: 60px;
  background: #AAB300;
  border: none;
  font-size: 16px;
  font-family: "M PLUS 1p", sans-serif;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  color: #003300;
}

@media screen and (max-width: 480px) {
  .u-btn {
    height: 48px;
    font-size: 12px;
  }
}

.u-btn:hover {
  cursor: pointer;
  opacity: 0.75;
}

.u-li {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #979797;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (max-width: 480px) {
  .u-li {
    padding: 16px;
  }
}

.u-li-a {
  line-height: 104px;
  font-size: 16px;
  font-family: "M PLUS 1p", sans-serif;
  color: #003300;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .u-li-a {
    font-size: 12px;
    line-height: 88px;
  }
}

.u-li-a:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.75;
}

.u-li-img {
  background: #979797;
  width: 10%;
  height: 100%;
  margin-right: 60px;
}

@media screen and (max-width: 480px) {
  .u-li-img {
    width: 30%;
    margin-right: 16px;
  }
}

.u-table {
  width: 100%;
  height: auto;
}

.u-td {
  width: 70%;
  height: 100%;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  padding: 16px;
}

@media screen and (max-width: 480px) {
  .u-td {
    font-size: 12px;
  }
}

.u-th {
  width: 30%;
  height: 100%;
  font-family: "M PLUS 1p", sans-serif;
  color: #003300;
  background: #AAB300;
  line-height: 60px;
  border: 1px solid #979797;
  box-sizing: border-box;
}

.u-tr {
  width: 100%;
  height: 30px;
  border: 1px solid #979797;
  box-sizing: border-box;
}

.u-ul {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 40px;
}

