.l-footer-wrap{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include sp(){
        width: 100%;
        height: 75%;
        flex-direction: column;
        justify-content: flex-start;
        padding: $padding-m;
        box-sizing: border-box;
    }
}
