//ヘッダー部分
.l-header{
    height: 72px;
    width: 100%;
    background: $green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include sp(){
        width: 100%;
        height: 40px;
    }
}
