//ボタン部分
.c-btn{
    display: block;
    width: 100%;
    height: 60px;
    background: $green;
    border: none;
    font-size: $font-size-m;
    font-family: $font-family-base;

    @include sp(){
        height: 48px;
        font-size: $font-size-s;
    }

    &:hover{
        cursor: pointer;
        opacity: .75;
    }
}


