//topページのtext表示部分
.c-gray-area{
    width: 100%;
    height: auto;
    padding: $padding-s $padding-s;
    background: #FFFDE6;
    box-sizing: border-box;
    margin-bottom: $margin-ll;
    margin-top: $margin-ll;
}
