//タイトル部分
.c-title{
    width: 100%;
    height: 60px;
    background: $green;
    padding-left: $padding-s;
    line-height: 60px;
    box-sizing: border-box;
    margin-bottom: $margin-l;

    @include sp(){
        height: 48px;
        margin-bottom: $margin-m;
        line-height: 48px;
    }
}
