//バックグランドイメージの設定
.u-bg-img{
    background-image: url('storage/app/public/hero_img/bg-img.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 810px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    @include sp(){
        height: 400px;
    }
    &::after {
        content: '';
        background-color: rgba(170,179,0,.6);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 810px;
        z-index: 1;

        @include sp(){
            height: 400px;
        }
    }

}
