//特商法の色つけ部分
.u-th{
    width: 30%;
    height: 100%;
    font-family: $font-family-base;
    color: $black-green;
    background: $green;
    line-height: 60px;
    border: 1px solid $gray;
    box-sizing: border-box;
}
